In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
pd.options.display.max_columns = None

In [2]:
data = pd.read_csv('dataset/frappe/frappe.csv', sep="\t")
appData = pd.read_csv('dataset/frappe/meta.csv', sep="\t")

In [3]:
data.head()

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,city
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,0
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,0
2,2,2,6,evening,monday,workday,unknown,free,cloudy,Spain,369
3,3,3,1,sunset,thursday,workday,unknown,free,unknown,United States,1028
4,4,4,428,night,thursday,workday,home,free,sunny,Switzerland,147

### Removes useless columns

In [4]:
data = data.drop('user', axis=1)
data = data.drop('city', axis=1)

In [5]:
data.head()

,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country
0,0,1,morning,sunday,weekend,unknown,free,sunny,United States
1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain
2,2,6,evening,monday,workday,unknown,free,cloudy,Spain
3,3,1,sunset,thursday,workday,unknown,free,unknown,United States
4,4,428,night,thursday,workday,home,free,sunny,Switzerland

### Converts columns that are strings into numbers and store the labels in the labels array
### the index of the labels array corresponds to the column number

In [6]:
labels = {}
for x in range(0, len(data.columns)):
    if type(data.iloc[:, x][0]) == str:
        data.iloc[:, x], labels[data.columns[x]] = pd.factorize(data.iloc[:, x])
    else:
        labels[data.columns[x]] = None

### Choose training and testing set

In [7]:
from sklearn.model_selection import train_test_split
y = data['item']
data = data.drop('item', axis=1)

X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.4, random_state=0)

### Apply the KNeighbors to train the machine

In [8]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train);

In [9]:
# returns the string value of that number in that column
def translateToString(result: int, labels: dict, column: str):
    return labels[column][result];

def getAppName(item: int):
    return appData.iloc[item, 8]

def getApp(item: int):
    return appData.iloc[item, :]

In [10]:
cnt = 10
daytime = 1
weekday = 2
isweekend = 1
homework = 0
cost = 0
wheater = 4
country = 10
infos = [cnt, daytime, weekday, isweekend, homework, cost, wheater, country]
getAppName(knn.predict([infos])[0])

'WhatsApp Messenger'