In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
pd.options.display.max_columns = None

In [2]:
data = pd.read_csv('dataset/frappe/frappe.csv', sep="\t")
appData = pd.read_csv('dataset/frappe/meta.csv', sep="\t")

In [3]:
data.head()

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,city
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,0
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,0
2,2,2,6,evening,monday,workday,unknown,free,cloudy,Spain,369
3,3,3,1,sunset,thursday,workday,unknown,free,unknown,United States,1028
4,4,4,428,night,thursday,workday,home,free,sunny,Switzerland,147

In [4]:
data = data.merge(appData, on='item')
# removing not used columns
data = data.drop('package', axis=1)
data = data.drop('icon', axis=1)
data = data.drop('short desc', axis=1)
data = data.drop('description', axis=1)
data = data.drop('user', axis=1)
# incomplete data
data = data.drop('city', axis=1)

### Merge both files

In [5]:
data.head()

,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,category,downloads,developer,language,name,price,rating
0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
1,0,1,morning,sunday,weekend,unknown,free,unknown,unknown,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
2,0,26,noon,sunday,weekend,unknown,free,cloudy,Israel,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
3,0,113,noon,wednesday,workday,unknown,free,cloudy,Peru,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
4,0,7,morning,tuesday,workday,unknown,free,cloudy,South Africa,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5

### Most used apps

In [6]:
data.name.value_counts()[:5]

Facebook              6430
unknown               6153
Gmail                 5840
WhatsApp Messenger    5563
Chrome                5378
Name: name, dtype: int64

In [7]:
data.head()

,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,category,downloads,developer,language,name,price,rating
0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
1,0,1,morning,sunday,weekend,unknown,free,unknown,unknown,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
2,0,26,noon,sunday,weekend,unknown,free,cloudy,Israel,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
3,0,113,noon,wednesday,workday,unknown,free,cloudy,Peru,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5
4,0,7,morning,tuesday,workday,unknown,free,cloudy,South Africa,Productivity,"1,000,000 - 5,000,000",Any.DO,en,Any.DO To-do & Tasks List,Free,4.5

### Converts columns that are strings into numbers and store the labels in the labels array
### the index of the labels array corresponds to the column number

In [8]:
labels = {}
for x in range(0, len(data.columns)):
    if type(data.iloc[:, x][0]) == str:
        data.iloc[:, x], labels[data.columns[x]] = pd.factorize(data.iloc[:, x])
    else:
        labels[data.columns[x]] = None

### Choose column to be the target

In [9]:
y = data['item']
data = data.drop('item', axis=1)
data.head()

,cnt,daytime,weekday,isweekend,homework,cost,weather,country,category,downloads,developer,language,name,price,rating
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0
2,26,1,0,0,0,0,2,2,0,0,0,0,0,0,0
3,113,1,1,1,0,0,2,3,0,0,0,0,0,0,0
4,7,0,2,1,0,0,2,4,0,0,0,0,0,0,0

### Apply the KNeighbors to train the machine

In [10]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(data, y);

In [11]:
# returns the string value of that number in that column
def translateToString(result: int, labels: dict, column: str):
    return labels[column][result];

In [13]:
cnt = 10
daytime = 0
weekday = 0
isweekend = 1
homework = 0
cost = 0
wheater = 1
country = 4
category = 3
downloads = 2
developer = 3
language = 4
name = 0
price = 0
rating = 5
infos = [cnt, daytime, weekday, isweekend, homework, cost, wheater, country, category, downloads, developer, language, name, price, rating]
knn.predict([infos])[0]

3